* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: sans-serif;
  background-color: #43886b;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: #0a191e;
  margin-bottom: 5rem;
  letter-spacing: 1px;
  font-size: 2.5rem;
}

.container ul {
  width: 100%;
  list-style: none;
}

.container ul a {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  transition: all 0.2s;
}

.container ul a svg {
  fill: #fff;
  transition: all 0.2;
}

.container ul a:hover {
  color: #0a191e;
  transform: scale(1.01);
}

.container ul a:hover svg {
  fill: #0a191e;
  transform: scale(1.01);
}
